/*      Body      */

html {
  scroll-behavior: smooth;
}

.bleh {
  border: 2px solid pink;
}

body {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
}

a {
  color: black;
}

.title-text {
  font-weight: 700;
  font-size: 130px;
  letter-spacing: 8px;
}

/*       Nav Bar      */

.nav-item {
  font-weight: 600;
  font-size: 15px;
  color: black;
}

.navbar-brand {
  font-size: 41px;
  color: #a00e16;
}

.navbar {
  background-color: #f2dfd2;
}

#navbarMenu {
  max-width: 1330px;
}

/*      Hero      */

.hero {
  background-color: #f2dfd2;
  height: 700px;
}


.col-hero-text {
  z-index: 1;
  position: absolute;
}

.hero-img {
  position: relative;
}

.hero-me {
  position: absolute;
  bottom: 0;
  left: 30%;
}

.social-links a {
  font-size: 35px;
  color: black;
}
/*       Portfolio       */

#portfolio {
  background: linear-gradient(#2c564f 0%, #0a1a16 70%);
  color: #f2dfd2;
  letter-spacing: 1px;
}

.more {
  color: #edc1a7;
  font-size: 16px;
}

/*    About       */

.social-links-about i {
  color: #f2dfd2;
  font-size: 35px;
}

/*       Responsive      */

/*  Screen sizes

xs      <576px
small   ≥576px
medium  ≥768px
large   ≥992px
xl      ≥1200px     
*/
/*   Colours     

bck neutral   #f2dfd2
neutral org   #edc1a7
neutral lines #d9af95
red           #a00e16
dark red      #720503
brown         #523028
green         #2c564f
dark green    #0f231f    
*/